{% import_yaml slspath + '/defaults.yaml' as defaults %}

{## Add any overrides based on CPU architecture. ##}
{% set exporter_defaults = salt['grains.filter_by']({
    'armv6l': {
      'service': {
        'arch': 'arm'
      }
    },
    'armv7l': {
      'service': {
        'arch': 'arm'
      }
    },
    'x86_64': {
      'service': {
        'arch': 'amd64'
      }
    }
  }
  ,grain="cpuarch"
  ,default="x86_64"
  ,merge=defaults.postgres.exporter)
%}

{% set postgres_exporter = salt['pillar.get']('postgres:exporter', default=exporter_defaults, merge=True) %}
